.github/**
.changeset/**
.vscode/**
docs/**
assets/cover.jpg
assets/Poolside*/**
assets/*.zip
tmp/**
.env*
.gitignore
CODE_OF_CONDUCT.md
CONTRIBUTING.md
SECURITY.md
src/**
out/**/*.test.*
out/*.test.*
**/*.map
**/.DS_Store
tsconfig.json
package-lock.json
*.vsix
